  
  body{
    background-color:#fff8ee;
  }
  p{
    color:#2b261f;
    text-align: center;
  }
  h1{
    color:#2b261f;
    text-align: center;
  }
  h2{
    color:#2b261f;
    text-align:center;
  }
  hr{
    color:#4e4940;
    border:2px solid;
  }
  a{
    color:#332f27;
  }


